<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navjeevan</title>
    <link rel="stylesheet" href="select.css">
</head>
<body style="background-color: whitesmoke;">
    <div class="outer">
        <div class="Wallpaper"></div>
        <div class="Select">
            <div class="Champa" style="display: flex;">
                <img src="logo.png" alt="#" id="jk" style="width: 10rem; padding-bottom: 1rem; padding-left: 1rem;">
                <h1 id="Navjee">NAVJEEVAN</h1>
            </div>
            <div class="container">
                <div class="heading">Sign In</div>
                <form action="" class="form">
                    <div class="input-container">
                        <input type="text" class="input" placeholder="Hospital-Id">
                    </div>

                    <input required="" class="input" type="password" name="password" id="password" placeholder="Password" style="border-top-right-radius:6px ;">
                    <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
                    <input class="login-button" type="submit" value="Sign In">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
