{% extends 'base.html' %}
{% load static %}
{% block title %}Add Patient Record | NavJeevan{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block content %}
    <link rel="stylesheet" href="organform.css">
</head>
<body>
    
    <div class="container">
        <h1>Enter Organ Details</h1>

        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="POST" action="{% url 'patientrecord' %}" enctype="multipart/form-data">
            {% csrf_token %}
            

            <div class="form-group">
                <label for="patent_id">Organ Name:</label>
                <input type="text" id="patent_id" name="patent_id" required>
            </div>

            <div class="form-group">
                <label for="bed_allotted">Category</label>
                <select id="bed_allotted" name="bed_allotted" required>
                    <option value="no">Heart</option>
                    <option value="yes">Lung</option>
                    <option value="no">Liver</option>
                    <option value="yes">Kidney</option>
                    <option value="no">Brain</option>
                    <option value="yes">Pancreas</option>
                    <option value="no">Intestine</option>
                    <option value="yes">Corneas</option>
                    <option value="no">Skin</option>
                    <option value="yes">Bone Marrow</option>
                    <option value="no">Ear Drums</option>
                    <option value="yes">Tendon</option>
                   
                </select>
            </div>

            <div class="form-group" id="bed_details" style="display:none;">
                <label for="bed_number">Bed Number / Room Number:</label>
                <input type="text" id="bed_number" name="bed_number">
            </div>

            <div class="form-group" id="icu_option" style="display:none;">
                <label for="icu">Is it an ICU?</label>
                <select id="icu" name="icu">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>
            </div>

            <div class="form-group">
                <label for="patent_status">Quantity</label>
                <select id="patent_status" name="patent_status" required>
                    <option value="Not Discharged">0-10</option>
                    <option value="Discharged">11-20</option>
                    <option value="Discharged">21-30</option>
                    <option value="Discharged">31-40</option>
                    <option value="Discharged">41-50</option>
                </select>
            </div>

            

            


            <div class="form-group">
                <button type="submit">Add Organ Detail</button>
            </div>

        </form>
    </div>

    <script>
        document.getElementById('bed_allotted').addEventListener('change', function() {
            var bedDetails = document.getElementById('bed_details');
            var icuOption = document.getElementById('icu_option');
            if (this.value === 'yes') {
                bedDetails.style.display = 'block';
                icuOption.style.display = 'block';
            } else {
                bedDetails.style.display = 'none';
                icuOption.style.display = 'none';
            }
        });

        document.getElementById('patent_status').addEventListener('change', function() {
            var billingDateGroup = document.getElementById('billing_date_group');
            if (this.value === 'Discharged') {
                billingDateGroup.style.display = 'block';
            } else {
                billingDateGroup.style.display = 'none';
            }
        });
    </script>

    {% endblock %}

</body>
</html>